body {
    margin: 0;
    padding: 0;
    background-color: #4caf50;
    font-family: 'Raleway', sans-serif;
  }

  header {
    background-color: #4caf50;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px;
    position: fixed;
    border-bottom: inset rgb(46, 96, 180);
  }

  .thumb-nail {
    grid-area: 1 / 4 / span 2 / span 1;
  }

  header img {
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    justify-content: center;
    grid-area: 1 / 3 / span 2 / span 1;
    z-index: 6;
  }

  img.login {
    grid-area: 1 / 3 / span 2 / span 1;
    margin-left: auto;
  }

  .center {
    padding-top: 10px;
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    cursor: pointer;
  }

  #trainer-name {
    cursor: default;
  }

  #space-holder {
    display: block;
    margin: auto;
    color: rgb(255,198,3);
    grid-area: 1 / 4 / span 2 / span 1;
    font-size: 20px;
    background-color: rgb(46, 96, 180);
    color: rgb(255,198,3);
  }

  #generation-filter {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    margin: auto;
  }

  #generation-filter span {
    font-size: 20px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #4caf50;
  }

  div.card {
    background-color: rgb(236, 253, 255);
    height: 250px;
    width: 300px;
    box-shadow: 0px 0px 8px 7px rgb(255,198,3);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  div.card img {
    max-width: 80%;
    max-height: 80%
  }

  .trainer {
    font-size:30px;
    color:rgb(255,198,3);
    margin-right: 2px;
  }

  #search{
    margin: auto;
    max-width: 450px;
    z-index: 1;
  }

  #search .search-button{
    border-radius: 20px;
    background-color: rgb(46, 96, 180);
    color: rgb(255,198,3);
  }

  .front-name {
    margin: 0px;
    text-align: center;
  }

  div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.5em;
    color: black;
  }

  ul {
    padding: 0px;
  }

  li {
    font-size: 1.05em;
    list-style: none;
  }

  .nav-pokemon {
    padding-left: 32px;
  }

  button {
    font-size: .80em;
    color: #fff;
    background-color: #e60000;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    cursor: pointer;
  }

  select {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    max-width: 300px;
  }

  #hamburger-main {
    transition: margin-left .5s;
    padding: 16px;
    max-width: 450px;
    grid-area: 1 / 1 / span 2 / span 1;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: rgb(46, 96, 180);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav h4 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  .sidenav span:hover {
    color: rgb(255,198,3);
  }

  .sidenav li:hover {
    color: rgb(255,198,3);
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #delete-nav{
    margin-left: 20px;
  }

  #delete-nav:hover {
    color: red;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #EA5737;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 40px;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  main.login {
    display: grid;
  }

  div.login {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    grid-area: 1 / 2 / span 1 / span 2;
    display: block;
    text-align: center;
  }

  .login p {
    color: rgb(255,198,3);
  }

  .login span {
    cursor: pointer;
    color: rgb(46, 96, 180);
  }

  .login span:hover {
    color:rgb(255,198,3);
  }

  .login h2 {
    color: white;
  }

  form, h2 {
    text-align: center;
  }

  input.submit {
    background-color: rgb(46, 96, 180);
    color: rgb(255,198,3);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    height: 25px;
    width: 100px;
    cursor: pointer;
  }

  .logout {
    margin: auto;
    display: block;
    grid-area: 1 / 5 / span 2 / span 1;
    height: 40px;
    background-color: rgb(46, 96, 180);
    color: rgb(255,198,3);
  }

  .hidden {
    display: none;
  }

  /* Styling Show Card */

    .show-div {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      grid-area: 1 / 2 / span 2 / span 2;
      background-color: rgb(236, 253, 255);
      box-shadow: 0px 0px 8px 7px rgb(255,198,3);
    }

    .show-data {
      font-size: 16px;
      display: inline;
      margin-left: 5px;
    }

    ul.show {
      padding: 0px;
    }

    .show button {
      margin-left: 2px;
    }

    .evolution-tree {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }

    .evolves-into {
      grid-area: 1 / 1 / span 1 / span 2;
    }

    .evolves-from {
      grid-area: 1 / 3 / span 1 / span 2;
    }

    .single-pokemon-holder {
      grid-area: auto;
      margin-left: auto;
      margin-right: auto;
    }

    /* Show Teams */

    .teams-div {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      display: block;
      grid-area: 1 / 2 / span 2 / span 2;
    }

    .teams-div h2 {
      color: rgb(255,198,3);
      font-size: 40px;
    }

    .team-label {
      font-size: 20px;
      padding-right: 0px;
    }

    ul.show-team-list {
      margin: auto;
      padding: 0px;
    }

    .show-team-list li {
      padding-bottom: 5px;
      text-align: center;
      font-size: 30px;
      color: white;
    }

    .team-list-pokemon:hover {
      color: rgb(255,198,3);
    }

    #delete-account {
      grid-area: 1 / 4 / span 1 / span 1;
      height: 40px;
    }

  /* Styling Type Buttons */

    button.poison {
      background-color: #B97FC9
    }

    button.grass {
      background-color: #9BCC50
    }

    button.fire {
      background-color: #FD7D24
    }

    button.flying {
      background-color: #3DC7EF
    }

    button.water {
      background-color: #4592C4
    }

    button.bug {
      background-color: #729F3F
    }

    button.normal {
      background-color: #A4ACAF
    }

    button.electric {
      background-color: #EED535
    }

    button.ground {
      background-color: #B5651D
    }

    button.fairy {
      background-color: #FDB9E9
    }

    button.fighting {
      background-color: #D56723
    }

    button.psychic {
      background-color: #F366B9
    }

    button.steel {
      background-color: #9EB7B8
    }

    button.ice {
      background-color: #51C4E7
    }

    button.ghost {
      background-color: #7B62A3
    }

    button.rock {
      background-color: #A38C21
    }

    button.dragon  {
      background-color: #53A4CF
    }
    button.dark  {
      background-color: #705848
    }

  #search-label {
    display: block;
    font-size: 20px;
  }

  .in-line-buttons {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 96, 180);
    color: rgb(255,198,3);
  }

  .delete-button {
    display: inline;
    margin-left: 20px;
  }

  .pokemon-info {
    text-align: center;
  }

  @media only screen and (max-width: 670px) {
    main {
      grid-template-columns: 1fr;
    }
    .trainer {
      display: none;
    }
    div.login {
      grid-area: 1 / 1 / span 1 / span 2;
    }
    #space-holder {
      display: none;
    }
    #search {
      max-width: 450px;
      z-index: 1;
      margin: 0 auto;
      grid-area: 1 / 2 / span 1 / span 1;
    }
    div.show-div {
      grid-area: 1 / 1 / span 1 / span 2;
    }
    .thumb-nail {
      grid-area: 3 / 1 / span 1 / span 2;
      margin: 0 auto;
    }
    div.teams-div {
      grid-area: 1 / 1 / span 1 / span 2;
      margin: 0 auto;
    }
    .logout {
      margin: auto;
      grid-area: 1 / 4 / span 2 / span 1;
    }
  }

  @media only screen and (min-width: 670px) and (max-width: 999px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
    div.login {
      grid-area: 1 / 1 / span 1 / span 2;
    }
    #hamburger-main {
      grid-area: 1 / 1 / span 2 / span 1;
    }
    #search {
      grid-area: 1 / 2 / span 2 / span 1;
    }
    #space-holder {
      display: none;
    }
    #generation-filter {
      grid-area: 1 / 4 / span 2 / span 1;
    }
    div.show-div {
      grid-area: 1 / 1 / span 1 / span 2;
    }
    .thumb-nail {
      grid-area: 3 / 1 / span 1 / span 2;
      margin: 0 auto;
    }
    div.teams-div {
      grid-area: 1 / 1 / span 1 / span 2;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 1350px) and (min-width: 999px) {
    main{
      grid-template-columns: 1fr 1fr 1fr;
    }
    div.login {
      grid-area: 1 / 1 / span 1 / span 3;
    }
    div.show-div {
      grid-area: 1 / 1 / span 1 / span 3;
    }
    .thumb-nail {
      grid-area: 1 / 3 / span 1 / span 1;
    }
    div.teams-div {
      grid-area: 1 / 2 / span 1 / span 1;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 1350px) and (max-width: 1500px){
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1500px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    div.login {
      grid-area: 1 / 1 / span 1 / span 5;
    }
    div#generation-filter {
      grid-area: 2 / 2 / span 1 / span 1;
      margin: auto;
    }
    div.show-div {
      grid-area: 1 / 2 / span 1 / span 3;
    }
    div.teams-div {
      grid-area: 1 / 3 / span 1 / span 1;
      margin: 0 auto;
    }
    #delete-account {
      grid-area: 1 / 5 / span 1 / span 1;
    }
  }
